:root {
  --primary: #8a2d99;
}
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
a {
  color: var(--primary);
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

h1 {
  font-family: 'Finger Paint', cursive;
  font-weight: 200;
  font-size: 9vw;
  margin-bottom: -1px;
}
@media (min-width: 1084px) {
  h1 {
    font-size: 4rem;
    padding-right: 20px;
  }
}
ul {
  list-style-type: none;
  margin: 20px 0;
  padding: 0;
}
li {
  margin: 20px 0;
  font-size: large;
}

.form-inline .form-control {
  flex-grow: 1;
}
.cart-active {
  color: darkorange;
  font-size: 30px;
  float: right;
  margin-top: -15px;
  margin-right: -10px;
}
.cart-active-small {
  color: darkorange;
  font-size: 20px;
  float: right;
  margin-top: -8px;
  margin-right: -9px;
}
.y-primary {
  background-color: var(--primary) !important;
  color: white;
  border-color: var(--primary) !important;
  font-weight: 700;
}
.y-primary:hover {
  background-color: var(--primary) !important;
  color: white !important;
}
.y-primary-border {
  border-color: var(--primary) !important;
  border-width: 3px !important;
}

main {
  min-height: 80vh;
}

/* carousel */
.carousel {
  text-align: center;
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}
.carousel-caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: #fff;
}

.carousel img {
  align-self: center;
  margin-left: auto;
  height: 100%;
  margin-right: auto;
}
.carousel a {
  margin: 0 auto;
}

.carousel li {
  background-color: var(--primary);
  border-radius: 50%;
  height: 10px;
  width: 10px;
  margin: 0 4px !important;
}
.pointer {
  cursor: pointer;
}
.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
}

@media (max-width: 900px) {
  .carousel-caption h2 {
    font-size: 2.5vw;
  }
}

.carousel-indicators {
  margin-bottom: 0 !important;
}
.active {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
